.slider {
  position: relative;
  height: auto;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 30px 30px 60px;
  padding: 30px;
}

.image {
  width: 1030px;
  height: 300px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  border-radius: 10px;
}
.image:hover {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.308)
}

.right-arrow {
  position: absolute;
  top: 40%;
  right: 0px;
  font-size: 3rem;
  color: white;
  background-color: rosybrown;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 40%;
  left: 0px;
  font-size: 3rem;
  color: white;
  background-color: rosybrown;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
