.navbar{
    width: 20vw;
    height: 231.5vh;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.items:hover{
    background-color: tomato;
}


*{
   font-size: 20px;
}

h2{
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}
