*{
  font-family: Cambria;
}

.main{
  display:flex;
  flex-direction: row;
}

.top{
  display:flex;
  flex-direction: column;
}

.mid{
  display:flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .mid {
    flex-direction: column;
  }
}